<%- include('partials/header') %>

  <main id="main">

    <section class="birthStory__mainBanner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="innerPage__contents">
                        <h6 data-aos="fade-up" data-aos-delay="100">About Us</h6>
                        <h1 data-aos="fade-up" data-aos-delay="200">We believe easier labour is within reach for everyone.</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Story Section ======= -->
    <section class="birthStory__story sectionPad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="contents" data-aos="fade-up" data-aos-delay="1200">
                        <h2>Creating a new experience for childbirth.</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contents" data-aos="fade-up" data-aos-delay="1500">
                        <h6>Our Story</h6>
                        <p>Becoming a mother is a wonderful journey filled with love, joy, and fulfillment. Yet the birthing process itself can often be overshadowed by fear and anxiety. This does not have to be the case. Every mother deserves the best, for her sake and for the sake of the new life entering this world. This is why Birthstory came into being — to provide parents-to-be with the knowledge and care needed to ensure a birthing experience that they can look back on and remember with joy. Our childbirth course provides essential information, covering everything from prenatal care to postpartum recovery — helping people face challenges and make educated decisions during their journey. And, our expert doula service offers invaluable support during labor, ensuring you feel safe and cared for every step of the way. Trust Birthstory to guide you through this transformative moment with love, security, and safety.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- ======= Team Section ======= -->

        <section class="birthStory__teams sectionPad">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="Teamheader">
                  <h6>Associates</h6>
                  <h2>Meet the associates <br>behind Birthstory</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="team__slider">
                <div class="swiper TeamSlider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="teamGrid">
                        <img src="assets/img/teams/team1.png" alt="">
                        <div class="details">
                          <h3>Shaima Ashraf</h3>
                          <h6>Founder</h6>
                          <p>Internationally certified Childbirth Educator and Labor and Birth Doula</p>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="teamGrid">
                        <img src="assets/img/teams/team2.png" alt="">
                        <div class="details">
                          <h3>Luthfa Khalid, UK</h3>
                          <h6>Associate (@empowerbirth)</h6>
                          <p>Student Midwife at Oxford, Physical Therapist, Antenatal Educator, Doula, Breastfeeding Specialist & Counselor</p>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="teamGrid">
                        <img src="assets/img/teams/team3.png" alt="">
                        <div class="details">
                          <h3>Sumisha Habeeb, UAE</h3>
                          <h6>Associate (www.birthingfriend.com) </h6>
                          <p>Childbirth Educator, Labor and Birth Doula, Researcher, Gentle Birth Consultant</p>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="teamGrid">
                        <img src="assets/img/teams/team4.png" alt="">
                        <div class="details">
                          <h3>Shamila</h3>
                          <h6>Associate (mamapapazay)</h6>
                          <p>MBBS, Maternal and Child Nutritionist, Founder of mamapapazay baby Products</p>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="teamGrid">
                        <img src="assets/img/teams/team5.png" alt="">
                        <div class="details">
                          <h3>Augustine Colebrook</h3>
                          <h6>Associate midwiferywisdom.com</h6>
                          <p>MA MCHS</p>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="swiper-slide"></div> -->
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
              </div>
            </div>
          </div>
      </section>

    <!-- ======= Service Start Section ======= -->
    <%- include('partials/appointment') %>

    <%- include('partials/footer') %>