<%- include('partials/header') %>

  <main id="main">

    <section class="birthStory__mainBanner">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="innerPage__contents" data-aos="fade-up">
              <h1 data-aos="fade-up" data-aos-delay="100">Amani Childbirth Course</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Story Section ======= -->
    <section class="birthStory__serviceDetails sectionPad bg-white">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6">
            <div class="contents" data-aos="fade-up" data-aos-delay="100">
              <h2>There's so much to learn when bringing your newborn into the world</h2>
              <p>Certified childbirth educators will guide you through everything you need to know during these nine
                months, including how to take care of yourself.</p>
              <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service__image" data-aos="fade-up" data-aos-delay="200">
              <img src="/assets/img/services/1.png" class="w-100" alt="">
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <div class="focus text-center">
              <h2>We're all in this together</h2>
              <p>Are you an expectant mother feeling anxious about labor and birth? You're not alone! Birthstory's
                Childbirth education, with five series of four modules each, empowers you and your companion(s) for this
                special time.</p>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-8 col-tab-12">
                <div class="row">
                  <div class="Detailed__privacy__policy">
                    <h2>What we cover in class</h2>
                  </div>
                  <div class="section__faq serviceDetailsFAQ">
                    <div class="accordion-list">
                      <ul>

                        <li>
                          <a data-bs-toggle="collapse" data-bs-target="#accordion1" class="collapsed"
                            aria-expanded="false">
                            Assisting - Helping Mom During Pregnancy & Beyond
                            <i class="bi bi-chevron-down icon-show"></i>
                            <i class="bi bi-chevron-up icon-close"></i>
                          </a>
                          <div id="accordion1" class="collapse" data-bs-parent=".accordion-list">
                            <div class="cousreList mb-4">
                              <p>The Assisting Series focuses on empowering you and your companion(s) to be the best
                                support system during labor and birth. You'll learn how to prioritize your options and
                                preferences, so you feel supported, respected, and in control during your birthing
                                journey. You'll also learn about available options and rehearse birth plans to alleviate
                                tension and fear, and reduce stress and unnecessary pain and discomfort for the mother.
                              </p>
                            </div>
                            <div class="cousreList">
                              <p class="pt-1">Module 1 Mother's Needs in Pregnancy</p>
                              <p class="pt-1">Module 2 Mother's Needs in Labor and Birth</p>
                              <p class="pt-1">Module 3 Birth Team Roles</p>
                              <p class="pt-1">Module 4 Making the Birth Plan</p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <a data-bs-toggle="collapse" data-bs-target="#accordion2" class="collapsed"
                            aria-expanded="false">
                            Mothers - Knowledge is Power
                            <i class="bi bi-chevron-down icon-show"></i>
                            <i class="bi bi-chevron-up icon-close"></i>
                          </a>
                          <div id="accordion2" class="collapse" data-bs-parent=".accordion-list">
                            <p class="pb-4">The Mothers Series focuses on the "Power of Knowledge” you need to make informed decisions about your birth experience. You'll learn how your body works during labor and birth to approach the experience positively. You'll also learn to prioritize your options and feel confident and prepared for the big day mentally and emotionally.</p>
                            <div class="cousreList">
                              <p class="pt-1">Module 1 Physiology of Pregnancy</p>
                              <p class="pt-1">Module 2 Stages of Labor</p>
                              <p class="pt-1">Module 3 Overview of Labor and Birth</p>
                              <p class="pt-1">Module 4 After Birth Care</p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <a data-bs-toggle="collapse" data-bs-target="#accordion3" class="collapsed"
                            aria-expanded="false">
                            Active - Staying Healthy and Preparing Your Body
                            <i class="bi bi-chevron-down icon-show"></i>
                            <i class="bi bi-chevron-up icon-close"></i>
                          </a>
                          <div id="accordion3" class="collapse" data-bs-parent=".accordion-list">
                            <p class="mb-4">The Active Series is designed to help you stay healthy and prepared during pregnancy and remain an active participant during labor. You'll understand how your body works during this time, assist the natural forces that take over, and make the process smoother and more manageable. You'll also learn how to remain in control of your body, stay off pain medications, and remain active and mobile.</p>
                              <div class="cousreList">
                                <p class="pt-1">Active - Staying Healthy and Preparing Your Body</p>
                                <p class="pt-1">Module 1 Pregnancy Exercise</p>
                                <p class="pt-1">Module 2 Pregnancy Nutrition</p>
                                <p class="pt-1">Module 3 Birthing Positions</p>
                                <p class="pt-1">Module 4 Labor Practice</p>
                              </div>
                          </div>
                        </li>
                        <li>
                          <a data-bs-toggle="collapse" data-bs-target="#accordion4" class="collapsed"
                            aria-expanded="false">
                            Natural - Trusting Nature's Design
                            <i class="bi bi-chevron-down icon-show"></i>
                            <i class="bi bi-chevron-up icon-close"></i>
                          </a>
                          <div id="accordion4" class="collapse" data-bs-parent=".accordion-list">
                            <p class="pb-4">The Natural Series promotes trusting the physiological process of birth and minimizing medical interference. You'll learn to collaborate with your body and use natural pain management techniques while learning to appreciate the medical process in case of complications. You'll also become adept at assessing the benefits and risks of proposed interventions for informed decision-making.</p>
                              <div class="cousreList">
                                <p class="pt-1">Module 1 The Purpose of Labor</p>
                                <p class="pt-1">Module 2 Working with Your Body</p>
                                <p class="pt-1">Module 3 Complications</p>
                                <p class="pt-1">Module 4 Minimizing Medical Interference</p>
                              </div>
                          </div>
                        </li>
                        <li>
                          <a data-bs-toggle="collapse" data-bs-target="#accordion5" class="collapsed"
                            aria-expanded="false">
                            Instinctive - Focusing Inward & Tuning Out Distractions
                            <i class="bi bi-chevron-down icon-show"></i>
                            <i class="bi bi-chevron-up icon-close"></i>
                          </a>
                          <div id="accordion5" class="collapse" data-bs-parent=".accordion-list">
                            <p class="pb-4">The Instinctive Series enables trust in the perfect design of your body to carry, birth, and feed your little one and tune into the primal instincts to guide you through the labor process. You'll learn about hormones, emotions, and the birth environment's influence on labor. As you become more aware of your inherent birthing capabilities, you'll learn to disregard negative messages and distractions. So, embrace the birthing experience with confidence, strength, and grace!</p>
                              <div class="cousreList">
                                <p class="pt-1">Module 1 The Role of Hormones</p>
                                <p class="pt-1">Module 2 Protecting Your Birth Environment</p>
                                <p class="pt-1">Module 3 Intuition</p>
                                <p class="pt-1">Module 4 Breastfeeding & Baby Care</p>
                              </div>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Service Start Section ======= -->

    <%- include('partials/appointment') %>
    <%- include('partials/footer') %>