<%- include('partials/header') %>

  <main id="main">

    <section class="birthStory__mainBanner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-tab-10">
                    <div class="innerPage__contents" data-aos="fade-up">
                        <h6>Contact Us</h6>
                        <h1 data-aos="fade-up" data-aos-delay="100">We're here to help.</h1>
                        <p data-aos="fade-up" data-aos-delay="200">We're so glad you're here and want to make sure your experience with Birthstory is everything you've hoped for (and so much more). We're just an email away!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Story Section ======= -->
    <section class="birthStory__contact sectionPad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="contents" data-aos="fade-up" data-aos-delay="100">
                        <h6>Email us:</h6>
                        <h3><a href="mailto:mail@birthstory.co">mail@birthstory.co</a></h3>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="contents" data-aos="fade-up" data-aos-delay="200">
                       <h6>Call us:</h6>
                       <h3><a href="tel:919061223344">+91 9061223344</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>