<%- include('partials/header') %>

  <main id="main">

    <section class="birthStory__mainBanner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="innerPage__contents" data-aos="fade-up">
                        <h1 data-aos="fade-up" data-aos-delay="100">Doula Labour Assistance</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Story Section ======= -->
    <section class="birthStory__serviceDetails sectionPad bg-white">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="contents" data-aos="fade-up" data-aos-delay="100">
                        <h2>Every birth is unique and beautiful. We celebrate yours with personalized care and support</h2>
                        <p>Childbirth can be unpredictable, but our caring assistance provides security and support for a confident start to parenthood.</p>
                        <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service__image" data-aos="fade-up" data-aos-delay="200">
                        <img src="/assets/img/services/2.png" class="w-100" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="focus">
                    <div class="focusGrid">
                        <p>Our doulas provide direct support to expectant mothers and their partners, offering physical, emotional, and informational guidance during and before labor to ensure a satisfying birthing experience. Initial consultations allow for discussions on preferences and expectations, ensuring compatibility and understanding with the doulas. Upon agreement to work together, the doula services can be secured via signed contracts. Throughout the pregnancy, our doulas will be readily available for consultations, maintaining open communication to address any concerns or updates promptly.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <%- include('partials/appointment') %>
      <%- include('partials/footer') %>