<%- include('partials/header') %>

  <main id="main">

    <section class="birthStory__mainBanner" style="background: #F9ECED;min-height: 80vh;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-tab-10">
                    <div class="innerPage__contents" data-aos="fade-up">
                        <h1 data-aos="fade-up" data-aos-delay="100">Thank You</h1>
                        <h2 class="mb-3" data-aos="fade-up" data-aos-delay="200">Your Appoinment Has Been Confirmed</h2>
                        <p data-aos="fade-up" data-aos-delay="300">We will get in touch with you shortly. We value your trust and are  committed to providing exceptional care.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <%- include('partials/footer') %>