<%- include('partials/header') %>

  <main id="main">

    <section class="birthStory__mainBanner darkpink">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="innerPage__contents" data-aos="fade-up">
                        <h1 data-aos="fade-up" data-aos-delay="100">FAQ</h1>
                        <p data-aos="fade-up" data-aos-delay="200">Here are a few of the questions we get the most. If you don't see what's on your mind, please contact us at contact@mybirthstory.co</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Story Section ======= -->
    <section class="birthStory__faq sectionPad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="row">
                     <div class="section__faq">
                        <div class="accordion-list">
                            <ul>

                              <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion1" class="" aria-expanded="true">
                                  Does the Childbirth Education package include Doula services?
                                  <i class="bi bi-chevron-down icon-show"></i>
                                  <i class="bi bi-chevron-up icon-close"></i>
                                </a>
                                <div id="accordion1" class="collapse show" data-bs-parent=".accordion-list" style="">
                                    <p>No, Doula services are separate from the Childbirth Education package.</p>
                                </div>
                              </li>
                              <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion2" class="collapsed" aria-expanded="false">
                                  Will recordings be provided in case I am unable to attend the live session due to travel?
                                  <i class="bi bi-chevron-down icon-show"></i>
                                  <i class="bi bi-chevron-up icon-close"></i>
                                </a>
                                <div id="accordion2" class="collapse" data-bs-parent=".accordion-list">
                                  <p>Yes, recordings will be provided for group sessions. Private-couple sessions will be rescheduled.</p>
                                </div>
                              </li>
                              <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion3" class="collapsed" aria-expanded="false">
                                  How long will each session be?
                                  <i class="bi bi-chevron-down icon-show"></i>
                                  <i class="bi bi-chevron-up icon-close"></i>
                                </a>
                                <div id="accordion3" class="collapse" data-bs-parent=".accordion-list">
                                 <p>Each session will last between 1-2 hours, depending on the module being taught.</p>
                                </div>
                              </li>
                              <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion4" class="collapsed" aria-expanded="false">
                                  Do you offer online sessions for exercises throughout pregnancy?
                                  <i class="bi bi-chevron-down icon-show"></i>
                                  <i class="bi bi-chevron-up icon-close"></i>
                                </a>
                                <div id="accordion4" class="collapse" data-bs-parent=".accordion-list">
                                  <p>Currently, exercises will only be shown and done together during live sessions when we cover the Exercise module in the Childbirth Course. However, we are planning to add exercise-only sessions very soon.</p>
                                </div>
                              </li>
                              <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion5" class="collapsed" aria-expanded="false">
                                  When is the best time for me to start classes?
                                  <i class="bi bi-chevron-down icon-show"></i>
                                  <i class="bi bi-chevron-up icon-close"></i>
                                </a>
                                <div id="accordion5" class="collapse" data-bs-parent=".accordion-list">
                                  <p>The earlier, the better. As soon as you have a confirmed pregnancy, you can join classes anytime.</p>
                                </div>
                              </li>
                              <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion6" class="collapsed" aria-expanded="false">
                                  I am already in my third trimester. Is there any use of attending classes now?
                                  <i class="bi bi-chevron-down icon-show"></i>
                                  <i class="bi bi-chevron-up icon-close"></i>
                                </a>
                                <div id="accordion6" class="collapse" data-bs-parent=".accordion-list">
                                  <p>Yes, confidence always comes with knowledge. It is never too late to learn what you are about to go through and what to expect. Once you attend the Labor Preparation Crash Course, you will know how to utilize these last few days/weeks the best.</p>
                                </div>
                              </li>

                            </ul>
                          </div>
                     </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/appointment') %>
    <%- include('partials/footer') %>