<%- include('partials/header') %>


  <!-- ======= Hero Section ======= -->

  <main id="main">

    <section class="birthStory__banner">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-tab-10">
            <div class="mainBanner__contents" data-aos="fade-up">
              <h1>Better births. Happy stories.</h1>
              <p>Let us guide you step-by-step on a beautiful journey of birth. <br>
                Be a confident, knowledgeable, happy and healthy mom.</p>
                <a href="/enquiry"><button class="btn btn-primary m-auto">Book Consultation</button></a>
                <!-- <div class="birthStory__video">
                  <div class="position-relative">
                    <img src="assets/img/video-bg.png" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=izOa3-AX8zQ" class="glightbox play-btn"></a>
                  </div>
                </div> -->
     
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= About Section ======= -->
    <section class="birthStory__about sectionPad">
      <div class="container">
        <div class="row">
          <div class="about__title">
            <h2>About Birthstory Programs</h2>
            <p>Our educational programs are designed for expecting mothers and their 
              partners. They’re accessible online and in-person, for individuals and groups. </p>
          </div>
          <div class="col-md-4">
            <div class="aboutGrid" data-aos="fade-up" data-aos-delay="100">
              <div class="icon">
                <img src="assets/img/icons/women-led.svg" alt="">
              </div>
              <div class="shortContent">
                <h3>Mother-first</h3>
                <p>We help you form a strong, supportive
                  birth team with you, the mom in the lead.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="aboutGrid" data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="assets/img/icons/evidence-based.svg" alt="">
              </div>
              <div class="shortContent">
                <h3>Evidence-based</h3>
                <p>Every bit of teaching on our programs
                  are Based on the latest international 
                  guidelines and research.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="aboutGrid" data-aos="fade-up" data-aos-delay="300">
              <div class="icon">
                <img src="assets/img/icons/expert-led.svg" alt="">
              </div>
              <div class="shortContent">
                <h3>Expert Led</h3>
                <p>From birth coaches to nutritionists 
                  and midwives, our experts bring you 
                  experience and empathy.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Services Section ======= -->

    <section class="birthStory__Services sectionPad">
      <div class="container">
        <div class="row">
          <div class="title"><h3>Our Services</h3></div>
        </div>
        <div class="row align-items-center sm-reverse" data-aos="fade-up">
          <div class="col-md-6">
            <div class="services__contents">
              <h6>In-Person / Online Extensive course</h6>
              <h2>Amani Childbirth education</h2>
              <p>Learn extensively about nutritional requirements, physiology, positions, various stages of labour, and much more. Feel confident, well informed and prepared as you embark on this magical journey of becoming parents.</p>
                <div class="readmore">
                  <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
                  <a href="/services/amani-childbirth-education" class="learnMore">Learn More</a>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service__image">
              <img src="assets/img/services/1.png" alt="">
            </div>
          </div>
        </div>

        <div class="row align-items-center mt-5" data-aos="fade-up">
          <div class="col-md-6">
            <div class="service__image">
              <img src="assets/img/services/2.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="services__contents padLeft">
              <h6>In-Person Service</h6>
              <h2>Doula Labour Assistance</h2>
              <p class="w- 90">After months of preparation for childbirth, yet when it happens, we may feel overwhelmed by labours inherent unpredictability. Feeling secure and cared for during the birthing is often the best 
                pain relief. Our expert, experienced and caring assistance will help you start your parenting journey with more confidence.</p>
                <div class="readmore">
                  <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
                  <a href="/services/doula-labour-assistance" class="learnMore">Learn More</a>
                </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="all-services">
            <a href="/services"><button class="btn btn-primary">Explore all Services</button></a>
          </div>
        </div>



      </div>
    </section>

    <!-- ======= Testimonial Section ======= -->
    <section class="birthStory__testimonials section-bg sectionPad">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="section-header">
              <h4>WHAT CLIENTS SAY ABOUT BIRTHSTORY</h4>
            </div>
            <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">
    
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="testimonial-content">
                      <p>
                        The birthing class was informative, helpful and just gave me 
                        a really good idea of what to expect as a first time mom. I liked that 
                        it included real birth stories/ videos and this made me feel 
                        less intimidated by the birthing process. 
                        </p>
                      <h3>Shaikha bint Hamdan</h3>
                    </div>
                  </div>
                </div>
    
                <!-- <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="testimonial-content">
                      <p>
                        The birthing class was informative, helpful and just gave me 
                        a really good idea of what to expect as a first time mom. I liked that 
                        it included real birth stories/ videos and this made me feel 
                        less intimidated by the birthing process. 
                        </p>
                      <h3>Shaikha bint Hamdan</h3>
                    </div>
                  </div>
                </div> -->
    


              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>

      </div>
    </section>



     <!-- ======= Footer Section ======= -->
     <%- include('partials/appointment') %>
     <%- include('partials/footer') %>