<%- include('partials/header') %>

  <main id="main">

    <section class="birthStory__mainBanner">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="innerPage__contents" data-aos="fade-up">
              <h1 data-aos="fade-up" data-aos-delay="100">Labour Preparation</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Story Section ======= -->
    <section class="birthStory__serviceDetails sectionPad bg-white">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6">
            <div class="contents" data-aos="fade-up" data-aos-delay="100">
              <h2>Excited and nervous as your due date nears? Our Labor Prep Session, created especially for couples 34+
                weeks pregnant.</h2>
              <p>This will be a 2 day Comprehensive course, with approximately 2 hours dedicated each day.</p>
              <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service__image" data-aos="fade-up" data-aos-delay="200">
              <img src="/assets/img/services/3.png" class="w-100" alt="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="focus">
            <h2>This course will focus on</h2>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Pregnancy excercises</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Nutritional intake in the final weeks</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Optimal positioning of baby</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Helping baby engage in the pelvis</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Physiology of labor</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Learning about labor and it’s stages</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Labor management</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Pain relief techniques</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Birthing positions</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Common interventions</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Labor practice</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>The pushing stage</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Immediate postpartum and breastfeeding</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Making the Birthplan</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Service Start Section ======= -->

    <%- include('partials/appointment') %>
    <%- include('partials/footer') %>