<%- include('partials/header') %>
  <main id="main">

    <section class="birthStory__servicesPage">
        <div class="container">
            <div class="row">
              <h1>Our Services</h1>
                <img src="assets/img/service-banner.png" alt="">
        </div>
    </section>
    <!-- ======= Services Section ======= -->

    <section class="birthStory__Services sectionPad bg-default">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-tab-10">
                <div class="servicePage__header">
                    <h3>Comprehensive programs for complex journeys </h3>
                    <p>We’re here to guide you through your journey to becoming mama, 
                      from the first trimester through postpartum.</p>
                 </div>
            </div>
        </div>
        <div class="row align-items-center sm-reverse" data-aos="fade-up">
          <div class="col-md-6">
            <div class="services__contents">
              <h6>In-Person / Online Extensive course</h6>
              <h2>Amani Childbirth education</h2>
              <p>Learn extensively about nutritional requirements, physiology, positions, various stages of labour, and much more. Feel confident, well informed and prepared as you embark on this magical journey of becoming parents.</p>
                <div class="readmore">
                  <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
                  <a href="/services/amani-childbirth-education" class="learnMore">Learn More</a>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service__image detailed__service">
              <img src="assets/img/services/1.png" alt="">
            </div>
          </div>
        </div>

        <div class="row align-items-center mt-5" data-aos="fade-up">
          <div class="col-md-6">
            <div class="service__image detailed__service">
              <img src="assets/img/services/3.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="services__contents padLeft">
              <h6>Crash course</h6>
              <h2>Labour Preparation</h2>
              <p class="w-90">Approaching your due date unprepared may leave you overwhelmed and anxious. This course is here to guide you on what you can do these last few weeks to gain confidence about labor and to help get your body and baby ready for birth. It's never too late.</p>
                <div class="readmore">
                  <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
                  <a href="/services/labour-preparation" class="learnMore">Learn More</a>
                </div>
            </div>
          </div>
        </div>

        <div class="row align-items-center mt-5" data-aos="fade-up">
          <div class="col-md-6">
            <div class="services__contents">
              <h6>Crash course</h6>
              <h2>VBAC Preparation</h2>
              <p>The VBAC in most cases is better than a repeat C-section. 
                Once you decide you want a VBAC , we are here to support 
                you and help you prepare. Our experts will guide you on how 
                to increase the chances of having a successful VBAC.</p>
                <div class="readmore">
                  <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
                  <a href="/services/VBAC-preparation" class="learnMore">Learn More</a>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service__image">
              <img src="assets/img/services/4.png" alt="">
            </div>
          </div>
        </div>
        <div class="row align-items-center mt-5 sm-reverse" data-aos="fade-up">
          <div class="col-md-6">
            <div class="service__image">
              <img src="assets/img/services/2.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="services__contents padLeft">
              <h6>In-Person Service </h6>
              <h2>Doula Labour Assistance</h2>
              <p class="w-90">After months of preparation for childbirth, yet when it happens, we may feel overwhelmed by labours inherent unpredictability. Feeling secure and cared forduring the birthing is often the best 
                pain relief. Our expert, experienced and caring assistance will help you start your parenting journey with more confidence.</p>
                <div class="readmore">
                  <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
                  <a href="/services/doula-labour-assistance" class="learnMore">Learn More</a>
                </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Testimonial Section ======= -->
    <section class="birthStory__InnerTestimonials section-bg sectionPad">
      <div class="container" data-aos="fade-up" data-aos-delay="300">
        <div class="row justify-content-center">
          <div class="col-md-8 col-tab-10">
            <div class="slides-1 swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="testimonial-content">
                        <div class="icon">
                            <img src="assets/img/avatar.png" alt="">
                        </div>
                        <div class="contents">
                            <p>The birthing class was informative, helpful and just gave me a really good idea of what to expect as a first time mom. I liked that it included real birth stories/ videos and this made me feel less intimidated by the birthing process. </p>
                              <h3>Shaikha bint Hamdan</h3>
                              <h6>January 2022</h6>
                        </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Service Start Section ======= -->
    <%- include('partials/appointment') %>
    <%- include('partials/footer') %>