<%- include('partials/header') %>
  <main id="main">

    <section class="birthStory__servicesPage">
        <div class="container">
            <div class="row">
              <h1>Our Services</h1>
                <img src="assets/img/service-banner.png" alt="">
        </div>
    </section>
    <!-- ======= Services Section ======= -->

    <section class="birthStory__Services sectionPad bg-default">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-tab-10">
                <div class="servicePage__header">
                    <h3>Comprehensive programs for complex journeys </h3>
                    <p>We’re here to guide you through your journey to becoming mama, 
                      from the first trimester through postpartum.</p>
                 </div>
            </div>
        </div>
        <div class="row align-items-center sm-reverse" data-aos="fade-up">
          <div class="col-md-6">
            <div class="services__contents">
              <h6>In-Person / Online Extensive course</h6>
              <h2>Amani Childbirth education</h2>
              <p>Learn extensively about nutritional requirements, physiology, positions, various stages of labour, and much more. Feel confident, well informed and prepared as you embark on this magical journey of becoming parents.</p>
                <div class="readmore">
                  <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
                  <a href="/services/amani-childbirth-education" class="learnMore">Learn More</a>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service__image detailed__service">
              <img src="assets/img/services/1.png" alt="">
            </div>
          </div>
        </div>

        <div class="row align-items-center mt-5" data-aos="fade-up">
          <div class="col-md-6">
            <div class="service__image detailed__service">
              <img src="assets/img/services/3.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="services__contents padLeft">
              <h6>Crash course</h6>
              <h2>Labour Preparation</h2>
              <p class="w-90">Approaching your due date unprepared may leave you overwhelmed and anxious. This course is here to guide you on what you can do these last few weeks to gain confidence about labor and to help get your body and baby ready for birth. It's never too late.</p>
                <div class="readmore">
                  <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
                  <a href="/services/labour-preparation" class="learnMore">Learn More</a>
                </div>
            </div>
          </div>
        </div>

        <div class="row align-items-center mt-5 sm-reverse" data-aos="fade-up">
          <div class="col-md-6">
            <div class="services__contents">
              <h6>Crash course</h6>
              <h2>VBAC Preparation</h2>
              <p>The VBAC in most cases is better than a repeat C-section. 
                Once you decide you want a VBAC , we are here to support 
                you and help you prepare. Our experts will guide you on how 
                to increase the chances of having a successful VBAC.</p>
                <div class="readmore">
                  <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
                  <a href="/services/VBAC-preparation" class="learnMore">Learn More</a>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service__image">
              <img src="assets/img/services/4.png" alt="">
            </div>
          </div>
        </div>
        <div class="row align-items-center mt-5" data-aos="fade-up">
          <div class="col-md-6">
            <div class="service__image">
              <img src="assets/img/services/2.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="services__contents padLeft">
              <h6>In-Person Service </h6>
              <h2>Doula Labour Assistance</h2>
              <p class="w-90">After months of preparation for childbirth, yet when it happens, we may feel overwhelmed by labours inherent unpredictability. Feeling secure and cared forduring the birthing is often the best 
                pain relief. Our expert, experienced and caring assistance will help you start your parenting journey with more confidence.</p>
                <div class="readmore">
                  <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
                  <a href="/services/doula-labour-assistance" class="learnMore">Learn More</a>
                </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Testimonial Section ======= -->
    <section class="birthStory__InnerTestimonials section-bg sectionPad">
      <div class="container" data-aos="fade-up" data-aos-delay="300">
        <div class="row justify-content-center">
          <div class="col-md-8 col-tab-10">
            <div class="slides-1 swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="testimonial-content">
                        <div class="icon">
                            <img src="assets/img/avatar.png" alt="">
                        </div>
                        <div class="contents">
                            <p>I’m Neshwa, 25, and I gave birth to my first baby on July 13th, 2023. At 35 weeks, I had cramps and spotting, so we went to the hospital, where I was 2 cm dilated. Labor progressed, and after my water was manually broken, I was given Pitocin. The contractions intensified, but thanks to my birth classes, I managed the pain through breathing techniques. After a few pushes and an episiotomy, my baby boy was born. Holding him made all the pain worth it. Huge thanks to Shaima and Birth Story for their incredible support!</p>
                              <h3>Neshwa</h3>
                              <!-- <h6>January 2022</h6> -->
                        </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="testimonial-content">
                        <div class="icon">
                            <img src="assets/img/avatar.png" alt="">
                        </div>
                        <div class="contents">
                            <p>Assalamu alaikum Shaima. Jazakillahu Khairan. I couldn't say it before, but I truly appreciate your help. I’m so glad I chose to have you with me, things would have been very different without you. Alhamdulillah. May Allah bless you with even greater success. I hope I wasn’t too much trouble.</p>
                              <h3>Ansaba</h3>
                              <!-- <h6>January 2022</h6> -->
                        </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="testimonial-content">
                        <div class="icon">
                            <img src="assets/img/avatar.png" alt="">
                        </div>
                        <div class="contents">
                            <p>Worth every penny. We often don’t realize how much our bodies can do. After my first c-section, I wanted to make informed choices for my second birth. Shaima was amazing, clearly explaining all my options. Though I had another emergency c-section, every decision was informed. Highly recommend for first-time parents and beyond. Lots of love to Shaima!.</p>
                              <h3>Farheen</h3>
                              <!-- <h6>January 2022</h6> -->
                        </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Service Start Section ======= -->
    <%- include('partials/appointment') %>
    <%- include('partials/footer') %>