<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Birthstory | Better births. For everyone.</title>
  <meta content="" name="Better births. For everyone.">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/css/default.css" rel="stylesheet">
  <link href="assets/css/responsive.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <img class="main__logo" src="assets/img/logo.svg" alt="">
        <img class="logo__icon" src="assets/img/icon.png" alt="">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="services.html">Service</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <a class="btn btn-primary ml-5" href="/enquiry">Book Appointment</a>
      </nav><!-- .navbar -->

     <img src="assets/img/icons/menu.svg" class="mobile-nav-toggle mobile-nav-show" alt="">
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>
  <!-- End Header -->
  <!-- ======= Hero Section ======= -->

  <main id="main">

    <section class="birthStory__mainBanner darkpink privacy">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="innerPage__contents" data-aos="fade-up">
                        <h1 data-aos="fade-up" data-aos-delay="100">Terms of Use Agreement</h1>
                        <p data-aos="fade-up" data-aos-delay="200">Individual particular advice on your own current pregnancy and wellbeing cannot be given under any circumstances and clients must take queries about their own personal health or pregnancy to their own care-giver, or other appropriate health professional.</p>
                        <p data-aos="fade-up" data-aos-delay="300">The Birthstory classes have been designed as a supplement to the information, advice and general instruction offered by your national health service. All material provided is for general information purposes only and should not under any circumstances be construed in any way as being particular individual medical advice or instruction.</p>
                        <p data-aos="fade-up" data-aos-delay="400">The Birthstory cannot accept responsibility or liability for any loss, damage or injury to any person or property arising out of or resulting from attendance at our classes.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Story Section ======= -->
    <section class="birthStory__faq sectionPad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="row">
                     <div class="section__faq">
                        <div class="accordion-list">
                            <ul>

                              <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion1" aria-expanded="false">
                                    What information do we collect?
                                  <i class="bi bi-chevron-down icon-show"></i>
                                  <i class="bi bi-chevron-up icon-close"></i>
                                </a>
                                <div id="accordion1" class="collapse" data-bs-parent=".accordion-list">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus ipsam obcaecati non velit quidem nostrum cum distinctio ullam autem officiis reprehenderit, harum a error. Saepe obcaecati quasi optio ratione ad!</p>
                                </div>
                              </li>
                              <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion2" class="collapsed" aria-expanded="false">
                                    How do we use your information?
                                  <i class="bi bi-chevron-down icon-show"></i>
                                  <i class="bi bi-chevron-up icon-close"></i>
                                </a>
                                <div id="accordion2" class="collapse" data-bs-parent=".accordion-list">
                                  <p> Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis</p>
                                </div>
                              </li>
                              <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion3" class="collapsed" aria-expanded="false">
                                    Will your information be shared with anyone?
                                  <i class="bi bi-chevron-down icon-show"></i>
                                  <i class="bi bi-chevron-up icon-close"></i>
                                </a>
                                <div id="accordion3" class="collapse" data-bs-parent=".accordion-list">
                                 <p>A doula is a person, typically without formal obstetric training, who is employed by the birthing person to provide guidance and support during pregnancy, labor, and birth.  A doula is a person trained to provide advice, information, emotional support, and physical comfort to a birthing person before, during, and just after childbirth. Doula’s help to support birthing families through the life changing experience of having a baby.</p>
                                </div>
                              </li>
                              <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion4" class="collapsed" aria-expanded="false">
                                    How long do we keep your information?
                                  <i class="bi bi-chevron-down icon-show"></i>
                                  <i class="bi bi-chevron-up icon-close"></i>
                                </a>
                                <div id="accordion4" class="collapse" data-bs-parent=".accordion-list">
                                  <p> Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis</p>
                                </div>
                              </li>
                              <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion5" class="collapsed" aria-expanded="false">
                                    How do we keep your information safe?
                                  <i class="bi bi-chevron-down icon-show"></i>
                                  <i class="bi bi-chevron-up icon-close"></i>
                                </a>
                                <div id="accordion5" class="collapse" data-bs-parent=".accordion-list">
                                  <p> Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis</p>
                                </div>
                              </li>
                              <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion6" class="collapsed" aria-expanded="false">
                                    What are your privacy rights? 
                                  <i class="bi bi-chevron-down icon-show"></i>
                                  <i class="bi bi-chevron-up icon-close"></i>
                                </a>
                                <div id="accordion6" class="collapse" data-bs-parent=".accordion-list">
                                  <p> Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis</p>
                                </div>
                              </li>
                              <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion7" class="collapsed" aria-expanded="false">
                                  Contact Us?
                                  <i class="bi bi-chevron-down icon-show"></i>
                                  <i class="bi bi-chevron-up icon-close"></i>
                                </a>
                                <div id="accordion7" class="collapse" data-bs-parent=".accordion-list">
                                  <p> Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis</p>
                                </div>
                              </li>
                            </ul>
                          </div>
                     </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Service Start Section ======= -->
    <section class="birthStory__startToday sectionPad">
        <div class="container">
          <div class="row">
            <h2>Get started with Birthstory 
              Birth Services, today.</h2>
              <div class="appointment"><button class="btn btn-secondary m-auto">Book Appoinment</button></div>
          </div>
        </div>
      </section>

           <!-- ======= Footer Section ======= -->
           <section class="birthStory__footer sectionPad">
            <div class="container">
              <div class="row justify-content-between sm-reverse">
                <div class="col-md-3 col-tab-2">
                  <div class="footer__logo">
                    <img src="assets/img/logo.svg" alt="">
                  </div>
                </div>
                <div class="col-md-8 col-tab-8">
                  <div class="rightFooter row">
                    <div class="footerGrid col-md-4">
                      <h6>Have a question?</h6>
                      <ul>
                        <li><a href="mailto:mail@birthstory.co">mail@birthstory.co </a></li>
                        <li><a href="https://wa.me/7034327244" target="_blank">Call or Text +91 9061223344</a></li>
                      </ul>
                    </div>
                    <div class="footerGrid col-md-3">
                      <h6>Services</h6>
                      <ul>
                        <li><a href="#">Childbirth Course </a></li>
                        <li><a href="#">Labour Preparation </a></li>
                        <li><a href="#">VBAC Preparation </a></li>
                        <li><a href="#">Labour Assistance </a></li>
                      </ul>
                    </div>
                    <div class="footerGrid col-md-2">
                      <h6>About</h6>
                      <ul>
                        <li><a href="about.html">Who we are</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                      </ul>
                    </div>
      
                    <div class="footerGrid col-md-3">
                      <h6>Policies</h6>
                      <ul>
                        <li><a href="privacy.html">Privacy Policy</a></li>
                        <li><a href="terms.html">Terms</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer__social">
                <ul>
                  <li><a href="#"><img src="assets/img/icons/Facebook.svg" alt=""></a></li>
                  <li><a href="#"><img src="assets/img/icons/Instagram.svg" alt=""></a></li>
                  <li><a href="#"><img src="assets/img/icons/Linkedin.svg" alt=""></a></li>
                </ul>
                <p id="copyright"></p>
              </div>
            </div>
           </section>



  </main>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>