<%- include('partials/header') %>

  <main id="main">

    <section class="birthStory__mainBanner">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="innerPage__contents" data-aos="fade-up">
              <h1 data-aos="fade-up" data-aos-delay="100">VBAC Preparation</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Story Section ======= -->
    <section class="birthStory__serviceDetails sectionPad bg-white">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6">
            <div class="contents" data-aos="fade-up" data-aos-delay="100">
              <h2>C-section mama dreaming of natural birth? You got this! 90% can VBAC, and we're your cheerleaders</h2>
              <p>Our 2 day VBAC Preparation Crash Course empowers you with knowledge, tools, and unwavering support.</p>
              <a href="/enquiry"><button class="btn btn-primary">Enroll Now</button></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service__image" data-aos="fade-up" data-aos-delay="200">
              <img src="/assets/img/services/4.png" class="w-100" alt="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="focus">
            <h2>This course will focus on</h2>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>What is VBAC</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Repeat C-sections</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>TOLAC</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Birth Story Sharing</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Fear release</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>VBAC Preparation </p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Uterine rupture</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Scar massage</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Nutrition</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Pregnancy Excercises</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Stages of Labor</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Optimal Positioning of baby</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Pain management</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Labor Practice</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>Birth Plan</p>
            </div>
            <div class="focusGrid">
              <i class="bi bi-check2"></i>
              <p>VBAC Supportive Doctor</p>
            </div>
           </div>
        </div>
      </div>
    </section>

    <%- include('partials/appointment') %>
    <%- include('partials/footer') %>