<section class="birthStory__footer sectionPad">
<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-2 col-tab-2">
      <div class="footer__logo">
        <img src="/assets/img/logo.svg" alt="">
      </div>
    </div>
    <div class="col-md-4">
      <div class="row sm-reverse">
        <div class="col-md-8">
          <div class="footerGrid">
            <h6>Services</h6>
            <ul>
              <li><a href="/services/amani-childbirth-education">Amani Childbirth education</a></li>
              <li><a href="/services/labour-preparation">Labour Preparation</a></li>
              <li><a href="/services">Explore all Services</a></li>
            </ul>
          </div>
          <div class="footerGrid">
            <h6>Have a question?</h6>
            <ul>
              <li><a href="mailto:mail@birthstory.co">mail@birthstory.co </a></li>
              <li><a href="tel:+91 9061223344">Call or Text +91 9061223344</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footerGrid">
            <h6>Info</h6>
            <ul>
              <li><a href="/about">Who we are</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/faq">FAQ</a></li>
              <!-- <li><a href="/">Terms</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__social">
    <ul>
      <li><a href="#"><img src="/assets/img/icons/Facebook.svg" alt=""></a></li>
      <li><a href="#"><img src="/assets/img/icons/Instagram.svg" alt=""></a></li>
      <li><a href="#"><img src="/assets/img/icons/Linkedin.svg" alt=""></a></li>
    </ul>
    <p id="copyright"></p>
  </div>
</div>
</section>



</main>


<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>